<html>
  <head>
    <title>{% block title %}Default Title{% endblock %}</title>
  </head>
  <body>
    <header>
      <h1>Welcome to Jagers</h1>
    </header>
    <div>
        <form action="/wiki" method="get">
            <input type="text" name="search" placeholder="Search.."/>
            <input type="submit" value="Search"/>
            <a href="/wiki">Home</a>
        </form>
    <main>{% block content %}Default content{% endblock %}</main>

    <footer>
      <p>Powered by Clojure & Selmer</p>
    </footer>
  </body>
</html>
